@model IEnumerable<PiEasyMissionWeb.Models.BidModels>

    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyTemplateUser.cshtml";
    }




  <!-- <p style="font-family:Arial; font-size:small; " class="btn inverse">
        @Html.ActionLink("Add Your New Bid", "Create")
    </p> --> 
                      <p style="font-family:Arial; font-size:x-large; margin-left:50px;"> YOUR BIDS </p>
@if (Model != null)
{ foreach(var item in Model)
  {
       @Html.Partial("View",item)
  }

}

